body.splash-page-body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

#splash-close-btn[aria-hidden="true"] { display:none; }

#splash-close-btn {
    position: fixed;
    top: 0;
    right: 0px;
    width: 50px;
    height: 50px;
    background: #fbfbfb;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: transform;
    box-shadow: none;
    transform: translateZ(0); 
    margin-top: 76px;
    margin-right: 8px;
    margin-bottom: 8px;
    z-index: 9999999999;
}

@media(min-width: 992px) {
    #splash-close-btn {
        right: 0px;
        margin-top: 76px;
    }
}


#splash-close-btn img {
    width: 100%;
    height: 100%;
}

.main-content-wrapper h2.main-text {
    font-size: 3.000em;
}

@media(max-width: 991px) {
    .main-content-wrapper h2.main-text {
        font-size: 2.250em;
    } 
}

.main-content-wrapper {
    width: 100%;
}

.main-content-wrapper .intro {
    width: 80%;
    margin: 0 auto;
}

@media (max-width: 991px) {
    .main-content-wrapper .intro {
        width: 90%;
        margin: 0 auto;
    }
}

.main-content-wrapper .intro.secondary {
    padding-top: 23%;
}

.main-title {
    font-size: 80px;
    line-height: 84px;
}

.main-title span.dates {
    display: block;
    text-transform: uppercase;
    color: #fb6f48;
}

.main-title span.title {
    display: block;
    text-decoration: underline;
    text-transform: uppercase;
    color: #fb6f48;
}

.main-content-wrapper .intro.secondary .secondary-wrapper {
    background-color: #ffffff;
    max-width: 480px;
    position: relative;
}

.main-content-wrapper .intro.secondary .secondary-wrapper .secondary-wrapper-title { 
    padding: 30px;
    padding-top: 25px;
    padding-bottom: 40px;
}

.main-content-wrapper .intro.secondary .secondary-wrapper h2.main-text {
    margin-bottom: 10px;
}


.main-content-wrapper .intro.secondary .secondary-wrapper .secondary-wrapper-title p {
    font-family: "AtlasGrotesk-Regular", sans-serif;
    font-size: 17px;
    line-height: 24px;
}

.main-content-wrapper .intro.secondary .secondary-wrapper .splash-btn-wrapper {
    margin-top: 0px;
}

@media(max-width: 991px) {
    .main-title {
        font-size: 30px;
        line-height: 35px;
    }
}

a.splash-btn {
    border-bottom: 0px !important;
    height: 49px;
    line-height: 51px;
    background-color: #5fa0bd;
    vertical-align: bottom;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'AtlasGrotesk-Medium', sans-serif;
    text-rendering: optimizeLegibility;
    padding-left: 25px;
    padding-right: 0px;
    font-size: 13px;
    width: 180px;
    color: #000000;
    -webkit-font-smoothing: antialiased;
}   

a.splash-btn:after {
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: "FontAwesome";
    content: "\f04b";
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    vertical-align: bottom;
    font-size: 14px;
    margin-left: 25px;
    margin-right: 20px;
    position: relative;
}

a.splash-btn:hover,
a.splash-btn:focus,
a.splash-btn:active {
    background-color: #000000;
    color: #ffffff;
}

.splash-btn-wrapper {
    margin-top: 50px;
    margin-bottom: 80px;
}

/* Scrolling div */
body.splash-page-body .top-scrolling-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 66px;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: transform;
    box-shadow: none;
    transform: translateZ(0);
}

body.splash-page-body .bottom-scrolling-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 66px;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: transform;
    box-shadow: none;
    transform: translateZ(0);
}



.top-scrolling-text.blue,
.bottom-scrolling-text.blue {
    background-color: #5fa0bd;
}

.top-scrolling-text.orange,
.bottom-scrolling-text.orange {
    background-color: #fb6e47;
}

.top-scrolling-text.orange-text,
.bottom-scrolling-text.orange-text {
    background-color: #f9eee7;
}

.top-scrolling-text.orange-text .scrolling-text,
.bottom-scrolling-text.orange-text .scrolling-text {
    color: #fb6e47 !important;
}

.top-scrolling-text.orange .scrolling-text,
.bottom-scrolling-text.orange .scrolling-text {
    color: #ffffff !important;
}

.scrolling-text-wrapper {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 1000%;
    white-space: nowrap;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: transform;
    box-shadow: none;
    transform: translateZ(0); 
}

.scrolling-text-wrapper .scrolling-text {
    font-size: 29px;
    color: #000000;
    display: inline-block;
    position: relative;
    width: auto;
    height: 100%;
    margin: 0;
    line-height: 71px;
    text-align: left;
    text-transform: uppercase;
    white-space: nowrap;
}

@media (max-width: 991px) {
    body.splash-page-body .bottom-scrolling-text,
    body.splash-page-body .top-scrolling-text {
        height: 50px;
    }

    .scrolling-text-wrapper .scrolling-text {
        font-size: 25px;
        line-height: 52px;
    }

    .bottom-scrolling-text .scrolling-text-wrapper .scrolling-text {
        line-height: 55px;
    }
}

/* Move it (define the animation) */

.scrolling-text.title {
    font-family: 'arnolfinibold', sans-serif;
}

.scrolling-text span {
    padding-left: 48px;
    padding-right: 48px;
}

/* Backgrounds will cover all the section
* --------------------------------------- */
body.splash-page-body .section {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/* Defining each section background and styles
* --------------------------------------- */
body.splash-page-body #section0 {
    background-image: url(/splash-page/imgs/img3.jpg);   
}

 @media(min-width: 991px) {
    body.splash-page-body #section0 {
        background-image: url(/splash-page/imgs/img3.jpg);
        background-position-y: -100px;
    }        
}

@media(max-width: 991px) and (orientation: portrait) {
    body.splash-page-body #section0 {
        background-size: 250%;
        background-position: top center;
    }
}

@media(min-width: 768px) and (max-width: 991px) and (orientation: portrait) {
    body.splash-page-body #section0 {
        background-size: 200%;
        background-position: top center;
    }
}

body.splash-page-body #section1 {
    background-image: url(/splash-page/imgs/img2.jpg);
}

body.splash-page-body #section2 {
    background-image: url(/splash-page/imgs/img1.jpg);
}

#section-footer {
    background-color: #5fa0bd;
}

@media(min-width: 991px) {
    #section-footer {
        height: 470px !important;
    }
}

#section-footer .footer-wrapper {
    width: 80%;
    margin: 0 auto;
    color: #ffffff;
}

@media(max-width: 991px) {
    #section-footer .footer-wrapper {
        width: 90%;
    }
}

#section-footer .footer-wrapper h2 {
    font-size: 43px;
    color: #ffffff;
    text-transform: uppercase;
}

@media(max-width: 991px) {
    #section-footer .footer-wrapper h2 {
        font-size: 25px;
    }
}

@media(min-width: 992px) {
    #section-footer .footer-wrapper h2 {
        line-height: 56px;
    }
}

#section-footer .footer-wrapper h2 span.title {
    display: block;
    text-decoration: underline;
}

#section-footer .footer-wrapper h2 span.dates {
    display: block;
}

#section-footer .logos-wrapper {
    clear:both;
    margin: 0 auto;
    width: 80%;
    max-width: 100%;
    overflow: hidden;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0px;
    padding-top: 6%;

}

@media(max-width: 991px) {
    #section-footer .logos-wrapper {
        width: 90%;
        padding-top: 0px;
    }
}

#section-footer .logos-wrapper ul {
    padding-left: 0;
    padding-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

#section-footer .logos-wrapper li {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 16%;
    flex-basis: 20%;
    box-sizing: border-box;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 16px;
}

@media screen and (max-width: 800px) {
    #section-footer .logos-wrapper li {
        -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
    }
}

@media screen and (max-width: 500px) {
    #section-footer .logos-wrapper li {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    }
}



#section-footer .logos-wrapper img {
    display: block;
    max-width: 80%;
    width: 100%;
    margin: 0 20px;
    margin-left: 0px;
}

#section-footer .logos-wrapper img.small-logo {
    max-width: 80px;
}

@media (max-width: 991px) {
    #section-footer .logos-wrapper img.small-logo {
        max-width: 60px;
    }

    #section-footer .logos-wrapper li {
        padding-bottom: 0px;
    }
}

#section-footer .logos-wrapper img.w100 {
    max-width: 100%;
}

#section-footer .logos-wrapper img.w70 {
    max-width: 70%;
}

#section-footer .logos-wrapper img.mtop5 {
    margin-top: 6px;
}

#section-footer .logos-wrapper img.mtop15 {
    margin-top: 15px;
}

#section-footer .logos-wrapper img.mleft25 {
    margin-left: 25px;
}

#section-footer .footer-text-wrapper {
    clear:both;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 20px;
}

@media (max-width: 991px) {
    #section-footer .footer-text-wrapper {
        padding-top: 40px;
        width: 90%;
    }


}

#section-footer .footer-text-wrapper p {
    font-family: 'AtlasGrotesk-Medium', sans-serif;
    text-transform: uppercase;
    color: #ffffff;
}

@media(max-width: 370px) {
    #section-footer .footer-text-wrapper p {
        font-size: 9px;
    }
}

#section-footer .fp-tableCell {
    vertical-align: top !important;
    padding-top: 7% !important;
}

@media(max-width: 991px) {
    #section-footer .fp-tableCell {
        vertical-align: top !important;
        padding-top: 50px !important;
    }
}
img.bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
}

img.bbf {
    width: 100px;
    height: auto;
    margin-right: 20px;
    margin-bottom: 10px;
}

@media(max-width: 360px) {
    img.bbf {
        width: 70px;
        margin-right: 10px;
        margin-bottom: 5px;
    }

    .main-title {
        font-size: 25px;
        line-height: 30px;
    }
}

.close {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    opacity: 0.8;   
}

a.close {
    border-bottom: 0px;
}

.close:hover,
.close:focus,
.close:active {
    opacity: 1;
}

.close:before, .close:after {
    position: absolute;
    left: 23px;
    content: ' ';
    height: 57px;
    margin-top: -3px;
    width: 4px;
    background-color: #fb6f48;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}


@media(max-width: 991px) {
    #splash-close-btn {
        margin-top: 58px;
        width: 40px;
        height: 40px;
    }

    .close {
        width: 40px;
        height: 40px;
    }

    .close:before, .close:after {
        margin-top: 0px;
        left: 18px;
        height: 40px;
    }
}

@media(max-width: 991px) and (orientation: landscape) {
    .main-content-wrapper h2.main-text {
        font-size: 1.500em;
    }

    .splash-btn-wrapper {
        margin-top: 15px;
        margin-bottom: 10px;
    }

    .main-content-wrapper .intro.secondary {
        padding-top: 5%;
    }

    .main-title {
        font-size: 25px;
        line-height: 30px;
    }

    body.splash-page-body #section0 {
        background-position: top center;
        background-position-y: -50px;
    }
}

@media(max-width: 480px) and (orientation: landscape) {
    .main-content-wrapper .intro.secondary {
        padding-top: 0;
    }
}




